body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #222;
    color: #eee;
    text-align: center;
    font-size: 1.4rem;
}

h1, h2, h3 {
    font-weight: 200;
}

h2, h3 {
    margin-top: 0;
}